{% extends 'home/layout.html' %}

{% block body %}
    <div class="image-div">
        <div class="image-div-wrapper">
            <h1 class="upper">Welcome</h1>
            <p>The best place for improving cognitive abilities</p>
        </div>
        <div class="div-wrapper">
            <div class="latest-courses-div">
                The latest courses
                <p>100+ different courses including cognitive tests on speed and accuracy</p>
                <p class="div-view">View all the available courses</p>
            </div>
            <div>
                The best skills to offer
                <p>100+ different courses including cognitive tests on speed and accuracy</p>
                <p class="div-view">View all the available courses</p>
            </div>
        </div>
    </div>
{% endblock %}