{% extends 'home/layout.html' %}

{% block body %}
    <div class="image-div">
        <div class="image-div-wrapper">
            <h1 class="upper">Welcome</h1>
            <p>The best place for improving cognitive abilities</p>
        </div>
        <div class="div-wrapper">
            <div class="latest-courses-div">
                The latest courses
            </div>
            <div>
                The best skills to offer
            </div>
        </div>
    </div>
    <!-- <div class="image-sunset"></div> -->
{% endblock %}