* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background: #d9d9d9;
    height: 160vh;
}

.nav-bar {
    background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 1.8% 0%;
}

.nav-bar a {
    font-size: 26px;
    font-weight: bold;
    color: #042d97;
    cursor: pointer;
    text-decoration: none;
}

#login,
#logout {
    border-radius: 20px;
    background: linear-gradient(to bottom, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    color: white;
    padding: 10px 30px;
    transition: all 0.5s ease-in-out;
}

#login:hover,
#logout:hover {
    transform: scale(1.05);
}

#loginsWrapper {
    display: flex;
    gap: 30px;
}

.image-div {
    height: 114vh;
    background-image: url(/static/photos/home-monitor2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: space-between;
}

.image-div h1 {
    text-transform: uppercase;
    font-size: 80px;
    color: white;
    font-weight: bold;
}

.upper {
    text-transform: uppercase;
}

.image-div-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    text-align: center;
    gap: 15px;
}

.image-div-wrapper p {
    font-size: 24px;
    color: white;
}

.div-wrapper div {
    color: white;
    text-align: center;
    background-color: #161B22;
    width: 22vw;
    height: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 30px;
    font-size: 30px;
    transition: all 0.5s ease-in-out;
    overflow: auto;
}

.div-wrapper div:hover {
    transform: scale(1.05);
    background-color: #1B2249;
    cursor: pointer;
}

.div-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 6%;
    height: 30%;
}

.div-wrapper p {
    color: #80868F;
    margin-top: 30px;
    text-align: left;
    font-size: 24px;
}

.div-view {
    color: white !important;
    position: relative;
    display: inline-block;
    transition: all 0.5s ease-in-out;
    float: left;
}

.div-view::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: white;
    transition: width 0.3s ease-in-out;
}

.div-view:hover::after {
    width: 100%;
}